.main__play > div > div:first-child img {
  border-left: 1px solid black;
}

img {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.main__play > div > div img {
  border: 0.5px solid black;
}

.hoverBox:hover {
  opacity: 0.6;
  background-color: orangered;
}
.box .hoverBox {
  z-index: 1000;
}
.box img {
  z-index: 1;
}
