.main__play > div > div:first-child img {
  border-left: 1px solid greenyellow;
}

img {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.main__play > div > div img {
  border-top: 1px solid greenyellow;
  border-right: 1px solid greenyellow;
}

div img:hover {
  opacity: 0.6;
  background-color: orangered;
}
